<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPARC</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <i class="fa-solid fa-heart-pulse"></i>
                <span>SPARC</span>
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="guide.html">Guide</a></li>
                <li><a href="info.html">Info</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="faq.html">FAQ</a></li>
            </ul>
        </nav>
    </header>
    <div class="guide">
        <h2>About</h2>
        <div class="imp-notice">
            <p>
                <strong>OUR MISSION</strong><br>
                SPARC is a student-led initiative that aims to advocate for, facilitate, and promote early detection of scoliosis in an
                accessible manner.
            </p>
        </div>
        <p>
            I'm Sophia, a Grade 9 student in the Pre-IB program at St. Robert CHS in Thornhill, Ontario.
            <br><br>
            After my identical twin sister Olivia was diagnosed with severe AIS (Adolescent Idiopathic Scoliosis) that required
            surgery, I wanted to help others avoid the risk of needing surgery by promoting early detection.
            <br><br>
            In particular, discovering scoliosis at a mild severity can allow for non-surgical interventions like bracing and
            physical therapy.
            <br><br>
            To learn more about me and the projects I have built, please visit<br> my personal website at <strong><a href="https://platinumplat.github.io/Sophia-s-Space/">https://platinumplat.github.io/Sophia-s-Space/</a></strong> <br>and my Github at <strong><a href="https://github.com/PlatinumPlat">https://github.com/PlatinumPlat</a></strong>.
        </p>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <i class="fa-solid fa-heart-pulse"></i>
                <span>SPARC</span>
            </div>
            <div class="footer-links">
                <div>
                    <h4>Main Pages</h4>
                    <a href="index.html">Home</a>
                    <a href="dashboard.html">Dashboard</a>
                    <a href="faq.html">FAQ</a>
                </div>

                <div>
                    <h4>Inner Pages</h4>
                    <a href="guide.html">Guide</a>
                    <a href="info.html">Info</a>
                    <a href="about.html">About</a>
                </div>
            </div>
        </div>
        <hr>
        <p class="creator">
            Created by Sophia Pu
        </p>
    </footer>

</body>

</html>