<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPARC</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <i class="fa-solid fa-heart-pulse"></i>
                <span>SPARC</span>
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="guide.html">Guide</a></li>
                <li><a href="info.html">Info</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="faq.html">FAQ</a></li>
            </ul>
        </nav>
    </header>
    <section class="faq">
        <h2>Frequently Asked Questions</h2>
        <div class="faq-item">
            <button class="faq-question">
                How do I use this?
                <span>+</span>
            </button>
            <div class="faq-answer">
                <p>
                    Please read the Guide.
                </p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">
                Why is the results image inaccurate?
                <span>+</span>
            </button>
            <div class="faq-answer">
                <p>
                    Please read the Important Notice on the About page.
                </p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">
                I don't want to take a picture of myself but still want to test the model. How can I do this?
                <span>+</span>
            </button>
            <div class="faq-answer">
                <p>
                    You can use the sample images, or any images you find online. However, keep in mind that the quality of the image has a huge impact on the accuracy of the results.
                </p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">
                How can I learn more about how you created this project?
                <span>+</span>
            </button>
            <div class="faq-answer">
                <p>
                    This project is on Github at <strong><a href="https://github.com/PlatinumPlat/SPARC">https://github.com/PlatinumPlat/SPARC.</a></strong>
                </p>
            </div>
        </div>
        <div class="faq-item">
            <button class="faq-question">
                Why did you create this project?
                <span>+</span>
            </button>
            <div class="faq-answer">
                <p>
                    Please read the About page.
                </p>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <i class="fa-solid fa-heart-pulse"></i>
                <span>SPARC</span>
            </div>
            <div class="footer-links">
                <div>
                    <h4>Main Pages</h4>
                    <a href="index.html">Home</a>
                    <a href="dashboard.html">Dashboard</a>
                    <a href="faq.html">FAQ</a>
                </div>
    
                <div>
                    <h4>Inner Pages</h4>
                    <a href="guide.html">Guide</a>
                    <a href="info.html">Info</a>
                    <a href="about.html">About</a>
                </div>
            </div>
        </div>
        <hr>
        <p class="creator">
            Created by Sophia Pu
        </p>
    </footer>
    <script src="../static/faq.js"></script>
</body>

</html>