<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPARC</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <i class="fa-solid fa-heart-pulse"></i>
                <span>SPARC</span>
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="guide.html">Guide</a></li>
                <li><a href="info.html">Info</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="faq.html">FAQ</a></li>
            </ul>
        </nav>
    </header>
    <div class="guide">
        <h2>Guide</h2>
        <div class="imp-notice">
            <p>
                <strong>IMPORTANT NOTICE</strong><br>
                SPARC is intended as a screening aid and should not be used as a substitute in any way for professional medical
                diagnosis. In addition, this model is by no means 100% accurate, and like all AI models, makes mistakes.
            </p>
        </div>
        <p>
            Before you use this resource, it is recommended to read the Info, About, FAQ, and Guide pages (the one you are on right
            now is the Guide page).
            <br><br>
            For this analysis to work, you must first have an image of a person’s bare back in a .jpg format, preferably with their
            arms at their side. If you would like an example of this pose, take a look at the sample images in the Dashboard. In
            addition, to test out this model without using your own image, you can simply click the sample images.
            <br><br>
            Keep in mind that the model performs best on clear, high-resolution images where the entire back is visible. Therefore,
            performance may decrease on low-resolution or blurry images, under poor lighting, or when there is little contrast
            between the person's back and the background.
            <br><br>
            Then click on the “Click to Upload Image” button, select the image from your file explorer, and press open. After the
            image is uploaded, you will see it appear in the box. In the next one or two seconds, the model will analyze the image
            and then display the result image in the results box beside the upload box, and the text-based conclusions in the text
            boxes below that are titled “Results” and “Data”.
            <br><br>
            In particular, the image in the results box will show the points on the spine that the model was able to identify. To
            download this image, you can simply press the download button.
            <br><br>
            In the results text box below, the measurements of the person’s spine deviation, hip tilt, and shoulder tilt will be
            shown, in addition to the category of the scoliosis (normal, mild, moderate, or severe). Beside that text box, there is
            a box that shows the keypoints determined by the model, which is not related to the results and exists merely for a
            glimpse into the technical side of this project.
            <br><br>
        </p>
    </div>
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <i class="fa-solid fa-heart-pulse"></i>
                <span>SPARC</span>
            </div>
            <div class="footer-links">
                <div>
                    <h4>Main Pages</h4>
                    <a href="index.html">Home</a>
                    <a href="dashboard.html">Dashboard</a>
                    <a href="faq.html">FAQ</a>
                </div>
    
                <div>
                    <h4>Inner Pages</h4>
                    <a href="guide.html">Guide</a>
                    <a href="info.html">Info</a>
                    <a href="about.html">About</a>
                </div>
            </div>
        </div>
        <hr>
        <p class="creator">
            Created by Sophia Pu
        </p>
    </footer>

</body>

</html>